.form-btn,
.form-btn-cancel,
.form-btn-error {
  background: transparent;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px 24px;
  margin-top: 2.25rem;
  position: relative;
  z-index: 0;
  transition: transform 0.28s ease;
  will-change: transform;
}

.form-btn::before,
.form-btn::after,
.form-btn-cancel::before,
.form-btn-cancel::after,
.form-btn-error::before,
.form-btn-error::after {
  position: absolute;
  content: "";
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
}

.form-btn::before,
.form-btn-cancel::before,
.form-btn-error::before {
  background: #6E358C;
  z-index: -2;
}

.form-btn::after,
.form-btn-cancel::after,
.form-btn-error::after {
  background: #000;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.28s ease;
  will-change: opacity;
}

.form-btn:focus,
.form-btn-cancel:focus,
.form-btn-error:focus {
  outline: none;
}

.form-btn:focus::after,
.form-btn:hover::after,
.form-btn-cancel:focus::after,
.form-btn-cancel:hover::after,
.form-btn-error:focus::after,
.form-btn-error:hover::after {
  opacity: 0.3;
}

.form-btn:active,
.form-btn-cancel:active,
.form-btn-error:active {
  transform: translateY(1px);
}

.form-btn-error::before {
  background: #d9534f;
}

.form-btn-cancel {
  transition: color 0.28s ease, transform 0.28s ease;
  color: #b52b27;
  border-color: currentColor;
  will-change: color, transform;
}

.form-btn-cancel.-nooutline {
  border-color: transparent;
}

.form-btn-cancel::before {
  background: #b52b27;
  opacity: 0;
  transition: opacity 0.28s ease;
  will-change: opacity;
}

.form-btn-cancel::after {
  display: none;
}

.form-btn-cancel:focus,
.form-btn-cancel:hover {
  color: #fff;
}

.form-btn-cancel:focus::before,
.form-btn-cancel:hover::before {
  opacity: 1;
}

.form-btn-block {
  display: block;
  width: 100%;
  padding: 5px;
}

.form-checkbox,
.form-radio {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  text-align: left;
}

.tplInfo .form-checkbox, .tplInfo .form-radio { margin-top: 1.05rem; margin-bottom: 1.05rem; }

.form-checkbox-inline .form-checkbox-label,
.form-radio-inline .form-radio-label {
  display: inline-block;
  margin-right: 20px;
}

.form-checkbox-10topmargin {
	margin-top: 1rem;
	margin-bottom: 0px;
}

.form-checkbox-10topmargin .form-checkbox-button {
	top: 4px;
}

.form-checkbox-10topmargin .form-checkbox-label span {
	font-size: 90%; font-weight: bold;
}

.form-checkbox-legend,
.form-radio-legend {
  margin: 0 0 12px 0;
  font-weight: 900;
  font-size: 1rem;
  color: #222;
}

.form-checkbox-label,
.form-radio-label {
  position: relative;
  cursor: pointer;
  padding-left: 1.5rem;
  text-align: left;
  color: #222;
  display: block;
  margin-bottom: 12px;
}

.glass .form-radio-legend { color: rgba(255,255,255,0.9); }
.glass .form-checkbox-legend { color: rgba(255,255,255,0.9); }

.black .form-radio-legend { color: #fff; }
.black .form-checkbox-legend { color: #fff; }

.black .form-radio-label { color: #fff; }
.black .form-checkbox-label { color: #fff; }

.form-checkbox-label:hover i,
.form-radio-label:hover i {
  color: #6E358C;
}

.form-checkbox-label span,
.form-radio-label span {
  display: block;
}

.form-checkbox-label input,
.form-radio-label input {
  width: auto;
  opacity: 0.0001;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  margin: 0;
  padding: 0;
}

.form-checkbox-button {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  color: #999;
  left: 0;
  top: 1px;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  transition: color 0.28s ease;
  will-change: color;
}

.form-checkbox-button::before,
.form-checkbox-button::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #6E358C;
  display: block;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: "";
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
  will-change: opacity, height;
}

.form-checkbox-button::before {
  top: 0.65rem;
  left: 0.38rem;
  transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}


.black .form-checkbox-button::before, .black .form-checkbox-button::after { background-color: #A753DB; }
.black .form-checkbox-button::before { box-shadow: 0 0 0 0.0625rem #111; }

.form-checkbox-button::after {
  top: 0.3rem;
  left: 0;
  transform: rotate(-45deg);
}

.form-checkbox-field:checked ~ .form-checkbox-button {
  color: #6E358C;
}

.form-checkbox-field:checked ~ .form-checkbox-button::after,
.form-checkbox-field:checked ~ .form-checkbox-button::before {
  opacity: 1;
  transition: height 0.28s ease;
}

.form-checkbox-field:checked ~ .form-checkbox-button::after {
  height: 0.5rem;
}

.form-checkbox-field:checked ~ .form-checkbox-button::before {
  height: 1.2rem;
  transition-delay: 0.28s;
}

.form-radio-button {
  position: absolute;
  left: 0;
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999;
}

.form-radio-button::before,
.form-radio-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  margin: 0px;
  width: 1rem;
  height: 1rem;
  transition: transform 0.28s ease, color 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
  will-change: transform, color;
}

.form-radio-button::after {
  transform: scale(0);
  background-color: #6E358C;
  border-color: #6E358C;
}

.form-radio-field:checked ~ .form-radio-button::after {
  transform: scale(0.5);
}

.form-radio-field:checked ~ .form-radio-button::before {
  color: #6E358C;
}

.form-radio-full {  }
.form-radio-full .form-radio-label { background: #f4f4f4; margin: 0px; float: left; padding: 0px; margin-left: 3px; }
.form-radio-full .form-radio-label:first-of-type { border-radius: 9px 0px 0px 9px; margin-left: 0px; }
.form-radio-full .form-radio-label:last-of-type { border-radius: 0px 9px 9px 0px; }
.form-radio-full .form-radio-label span { display: inline-block; color: #666; padding: 10px 20px 12px 20px; transition-duration: 0.5s; font-size: 90%; font-weight: bold; }
.form-radio-full .form-radio-label:first-of-type span { border-radius: 9px 0px 0px 9px; }
.form-radio-full .form-radio-label:last-of-type span { border-radius: 0px 9px 9px 0px; }
.form-radio-full .form-radio-label .form-radio-button { display: none; }
.form-radio-full .form-radio-field:checked ~ span { color: #fff; background: linear-gradient(-45deg, #6E358C, #2A225E); border-color: #6E358C; }

.black .form-radio-full .form-radio-label { background: #000; color: #fff; } 
.black .form-radio-full .form-radio-label span { color: #fff; } 

.form-radio-full .form-radio-label-short { background: #fff; }
.form-radio-full .form-radio-label-short span { padding: 6px 10px 5px 10px; font-size: 11px; }

.black .form-radio-full .form-radio-label-short { background: #000; color: #fff; }
.black .form-radio-full .form-radio-label-short span { color: #fff; }


.form-full-line { display: inline-block; float: left; padding: 6px 10px 2px 10px; font-size: 11px; text-transform: uppercase; letter-spacing: +1px; }

.form-has-error .form-checkbox-button,
.form-has-error .form-radio-button {
  color: #d9534f;
}

.form-card {
  border-radius: 2px;
  transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0;
  margin: 0px auto;
}

.form-card-700 {
	max-width: 700px;
}

.form-card:hover,
.form-card:focus {

}

.form-card:focus-within {

}

.form-actions {
  position: relative;
  display: flex;
  margin-top: 2.25rem;
}

.form-actions .form-btn-cancel {
  order: -1;
}

.form-actions::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #999;
  opacity: 0.3;
}

.form-actions > * {
  flex: 1;
  margin-top: 0;
}

.form-fieldset {
  padding: 30px;
  border: 0;
}

.form-fieldset-nop {
  padding: 0px;
  border: 0;
}

.form-fieldset-nopa {
  padding: 30px 0px;
  border: 0;
}

.form-fieldset + .form-fieldset {
  margin-top: 15px;
}

.form-legend {
  padding: 1em 0 0;
  margin: 0 0 -0.5em;
  font-size: 1.5rem;
  text-align: center;
}

.form-legend + p {
  margin-top: 1rem;
}

.form-element {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.c2x .form-element {
  position: relative;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.form-element-nop { margin-top: 0px !important; margin-bottom: 0px !important; }

.form-element-hint {
  font-weight: 400;
  font-size: 90%;
  color: #999;
  display: block;
  padding-top: 10px;
  clear: both;
  line-height: 1.4;
}

.glass .form-element-hint { color: #ddd; }

.form-element-bar {
  position: relative;
  height: 2px;
  background: #999;
  display: block;
}

.glass .form-element-bar { background: #ccc; }
.black .form-element-bar { background: #eee; }

.form-element-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #6E358C, transparent);
  height: 2px;
  display: block;
  transform: rotateY(90deg);
  transition: transform 0.28s ease;
  will-change: transform;
}

.form-element-label {
  position: absolute;
  top: 0.75rem;
  line-height: 1.5rem;
  pointer-events: none;
  padding-left: 0;
  z-index: 1;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #222;
  transform: translateY(-50%);
  transform-origin: left center;
  transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
  will-change: transform, color, opacity;
}

.glass .form-element-label { color: rgba(255,255,255,0.9); }
.black .form-element-label { color: #fff; }

.form-element-field {
  outline: none;
  height: 1.5rem;
  display: block;
  background: none;
  padding: 15px 0px;
  font-size: 1rem;
  border: 0 solid transparent;
  line-height: 1.5;
  width: 100%;
  color: #111;
  box-shadow: none;
  opacity: 0.001;
  transition: opacity 0.28s ease;
  will-change: opacity;
}


select.form-element-field {
  margin: 3px 0px;
  padding: 0px 0px;
}

.black .form-element-field { color: #eee; }
.black .form-element-field option { color: #111; }


.form-element-field:-ms-input-placeholder {
  color: #a6a6a6;
  transform: scale(0.9);
  transform-origin: left top;
}

.form-element-field::-moz-placeholder {
  color: #a6a6a6;
  transform: scale(0.9);
  transform-origin: left top;
}

.form-element-field::placeholder {
  color: #a6a6a6;
  transform: scale(0.9);
  transform-origin: left top;
}

.form-element-field:focus ~ .form-element-bar::after {
  transform: rotateY(0deg);
}

.form-element-field:focus ~ .form-element-label {
  color: #6E358C;
}

.black .form-element-field:focus ~ .form-element-label {
  color: #AD348B;
}

.glass .form-element-field { color: #eee; }
.glass .form-element-field:-ms-input-placeholder { color: #eee; }
.glass .form-element-field::-moz-placeholder { color: #eee; }
.glass .form-element-field::placeholder { color: #eee; }
.glass .form-element-field:focus ~ .form-element-label {
  color: #aaa;
}

.form-element-field.-hasvalue,
.form-element-field:focus {
  opacity: 1;
}

.form-element-field.-hasvalue ~ .form-element-label,
.form-element-field:focus ~ .form-element-label {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(1);
  cursor: pointer;
  pointer-events: auto;
}

.form-has-error .form-element-label.form-element-label,
.form-has-error .form-element-hint {
  color: #d9534f;
}

.form-has-error .form-element-bar,
.form-has-error .form-element-bar::after {
  background: #d9534f;
}

.form-is-success .form-element-label.form-element-label,
.form-is-success .form-element-hint {
  color: #259337;
}

.form-is-success .form-element-bar::after {
  background: #259337;
}

input.form-element-field:not(:-moz-placeholder-shown), textarea.form-element-field:not(:-moz-placeholder-shown) {
  opacity: 1;
}

input.form-element-field:not(:-ms-input-placeholder), textarea.form-element-field:not(:-ms-input-placeholder) {
  opacity: 1;
}

input.form-element-field:not(:placeholder-shown),
textarea.form-element-field:not(:placeholder-shown) {
  opacity: 1;
}

input.form-element-field:not(:-moz-placeholder-shown) ~ .form-element-label, textarea.form-element-field:not(:-moz-placeholder-shown) ~ .form-element-label {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(1);
  cursor: pointer;
  pointer-events: auto;
}

input.form-element-field:not(:-ms-input-placeholder) ~ .form-element-label, textarea.form-element-field:not(:-ms-input-placeholder) ~ .form-element-label {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(1);
  cursor: pointer;
  pointer-events: auto;
}

input.form-element-field:not(:placeholder-shown) ~ .form-element-label,
textarea.form-element-field:not(:placeholder-shown) ~ .form-element-label {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(1);
  cursor: pointer;
  pointer-events: auto;
}

textarea.form-element-field {
  height: auto;
  min-height: 3rem;
}

select.form-element-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.form-select {
  margin-bottom: 2.70rem;
}

.form-select-placeholder {
  color: #a6a6a6;
  display: none;
}

.glass .form-select-placeholder { color: #fff; }

.form-select .form-element-bar::before {
  content: "";
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  display: block;
  right: 0.5em;
  bottom: 5px;
  transition: transform 0.28s ease;
  transform: translateY(-100%) rotateX(0deg) rotate(45deg);
  will-change: transform;
}

.form-select select:focus ~ .form-element-bar::before {
  transform: translateY(-50%) rotateX(180deg) rotate(45deg);
}

.form-element-field[type=number] {
  -moz-appearance: textfield;
}

.form-element-field[type=number]::-webkit-outer-spin-button,
.form-element-field[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-c2 {  }
.form-c2-padded { padding: 0px 30px; }
.form-c2f { display: grid; grid-gap: 30px; grid-template-columns: 1fr 1fr; }
.form-c2f .form-element { margin-top: 0px; margin-bottom: 0px; }

.form-sub { font-weight: bold; font-size: 120%; padding: 60px 0px 0px 0px; color: #6E358C; margin-bottom: 10px; }

@media screen and (min-width: 520px) {
  .form-c2 { display: grid; grid-gap: 30px; grid-template-columns: 1fr 1fr; }
  .form-c2 .form-element { margin-top: 0px; margin-bottom: 0px; }
}

.form-element-field[type=range] { height: 25px; -webkit-appearance: none; width: 99.7%; }
.form-element-field[type=range]:focus { outline: none; }
.form-element-field[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: linear-gradient(-90deg, #6E358C, #2A225E);
  border-radius: 5px;
  border: 0px solid #000000;
}
.form-element-field[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #2A225E;
  height: 22px;
  width: 22px; 
  border-radius: 25px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.black .form-element-field[type=range]::-webkit-slider-thumb { background: #fff; }

.form-element-field[type=range]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(-90deg, #6E358C, #2A225E);
}
.form-element-field[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: linear-gradient(-90deg, #6E358C, #2A225E);
  border-radius: 1px;
  border: 0px solid #000000;
}
.form-element-field[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #2A225E;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #fff;
  cursor: pointer;
}

.black .form-element-field[type=range]::-moz-range-thumb { background: #fff; }

.form-element-field[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.form-element-field[type=range]::-ms-fill-lower {
  background: #2A225E;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.form-element-field[type=range]::-ms-fill-upper {
  background: #2A225E;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.form-element-field[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #2A225E;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #fff;
  cursor: pointer;
}
.form-element-field[type=range]:focus::-ms-fill-lower {
  background: linear-gradient(-45deg, #6E358C, #2A225E);
}
.form-element-field[type=range]:focus::-ms-fill-upper {
  background: linear-gradient(-45deg, #6E358C, #2A225E);
}

.form-onoff { text-align: left; }
.form-onoff .form-onoff-label { display: grid; grid-gap: 10px; grid-template-columns: auto 50px; }
.form-onoff .form-onoff-label .form-onoff-field { display: none; }
.form-onoff .form-onoff-label .form-checkbox-legend { margin: 0px; }
.form-onoff .form-element-hint { font-size: 0.85rem; line-height: 1.6; color: #555; }

.form-onoff-label {
  --line: #999;
  --dot: #6E358C;
  --circle: #ccc;
  --duration: .5s;
  --text: #9EA0BE;
  cursor: pointer;
}
.form-onoff-label input {
  display: none;
}
.form-onoff-label input + div {
  margin-top: 3px;
  position: relative;
}
.form-onoff-label input + div:before, .form-onoff-label input + div:after {
  --s: 1;
  content: "";
  position: absolute;
  height: 4px;
  top: 10px;
  width: 24px;
  background: var(--line);
  transform: scaleX(var(--s));
  transition: transform var(--duration) ease;
}
.form-onoff-label input + div:before {
  --s: 0;
  left: 0;
  transform-origin: 0 50%;
  border-radius: 2px 0 0 2px;
}
.form-onoff-label input + div:after {
  left: 28px;
  transform-origin: 100% 50%;
  border-radius: 0 2px 2px 0;
}
.form-onoff-label input + div span {
  padding-left: 56px;
  line-height: 24px;
  color: var(--text);
}
.form-onoff-label input + div span:before {
  --x: 0;
  --b: var(--circle);
  --s: 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--s) var(--b);
  transform: translateX(var(--x));
  transition: box-shadow var(--duration) ease, transform var(--duration) ease;
}
.form-onoff-label input + div span:not(:empty) {
  padding-left: 64px;
}
.form-onoff-label input:checked + div:before {
  --s: 1;
}
.form-onoff-label input:checked + div:after {
  --s: 0;
}
.form-onoff-label input:checked + div span:before {
  --x: 28px;
  --s: 12px;
  --b: var(--dot);
}

.disabledForm { cursor: not-allowed; position: relative; }
.disabledForm .coating { cursor: not-allowed; position: absolute; top: -20px; left: -20px; right: -20px; bottom: -20px; background: rgba(255,255,255,0.6); border-radius: 20px; }

.black .disabledForm .coating { background: rgba(1,1,1,0.6); }